<div id="registerMain">
    <div id="registerMainContent" class="container">
        <!-- Default form register -->
        <form id="registerForm" class="text-center border border-light p-5" action="#!">

            <p class="h4 mb-4">Sign up</p>

            <!-- E-mail -->
            <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

            <!-- Password -->
            <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                At least 8 characters and 1 digit
            </small>

            {{!-- <!-- Subject -->
            <label>What genre of music do you like primarily listen to?</label>
            <select class="browser-default custom-select mb-4">
                <option value="" disabled>Choose option</option>
                <option value="rock" selected>Rock</option>
                <option value="hip-hop">Hip-Hop/R&amp;B</option>
                <option value="pop">Pop</option>
                <option value="electronic">Electronic</option>
            </select>

            <label>On rainy days, you like to listen to: </label>
            <select id="rainyDayOptions" class="browser-default custom-select mb-4">
                <option value="" disabled>Choose option</option>
                <option value="sad" selected>Sad, slow, calming music</option>
                <option value="happy">Happy, uplifting, exciting music</option>
            </select>

            <label>On cloudy days, you like to listen to: </label>
            <select id="cloudyDayOptions" class="browser-default custom-select mb-4">
                <option value="" disabled>Choose option</option>
                <option value="sad" selected>Sad, slow, calming music</option>
                <option value="happy">Happy, uplifting, exciting music</option>
            </select>

            <label>On sunny days, you like to listen to: </label>
            <select id="sunnyDayOptions" class="browser-default custom-select mb-4">
                <option value="" disabled>Choose option</option>
                <option value="sad" selected>Sad, slow, calming music</option>
                <option value="happy">Happy, uplifting, exciting music</option>
            </select> --}}

            <!-- Sign up button -->
            <button class="btn btn-info my-4 btn-block" type="submit">Register</button>

            <!-- Terms of service -->
            <p>By clicking
                <em>Sign up</em> you agree to our
                <a href="" target="_blank">terms of service</a>

        </form>
        <!-- Default form register -->
    </div>
</div>