<div id="surveyMain">
    <div class="container text-center border border-light p-3" id="surveyMainContent" style="margin-top:5%">
      <label class="surveyLabel">What genre of music do you primarily listen to?</label>
        <div class="input-group mb-8 justify-content-center">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" value="Rock" id="chk"><span class="checkText">Rock</span>
                    <br>
                </div>
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" value="Pop" id="chk"><span class="checkText">Pop</span><br>
                </div>
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" value="Hip-Hop"
                        id="chk"><span class="checkText">Hip-Hop</span><br>
                </div>
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" value="Jazz" id="chk"><span class="checkText">Jazz</span><br>
                </div>
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" value="Pop Rock" id="chk"><span class="checkText">Pop Rock</span>
                    <br>
                </div>
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" value="Grunge"id="chk"><span class="checkText">Grunge</span><br>
                </div> 
            </div>

        </div>

        <br>

        <label class="surveyLabel">On rainy days, you like to listen to: </label>
        <select id="rainyDayOptions" class="browser-default custom-select mb-4">
            <option value="" disabled>Choose option</option>
            <option value="slow" selected>Slow, calming</option>
            <option value="happy">Happy, uplifting, exciting</option>
        </select>

        <label class="surveyLabel">On cloudy days, you like to listen to: </label>
        <select id="cloudyDayOptions" class="browser-default custom-select mb-4">
            <option value="" disabled>Choose option</option>
            <option value="slow" selected>Slow, calming</option>
            <option value="happy">Happy, uplifting, exciting </option>
        </select>

        <label class="surveyLabel">On sunny days, you like to listen to: </label>
        <select id="sunnyDayOptions" class="browser-default custom-select mb-4">
            <option value="" disabled>Choose option</option>
            <option value="slow" selected>Slow, calming</option>
            <option value="happy">Happy, uplifting, exciting</option>
        </select>

         <label class="surveyLabel">Enter a zip code: </label>
         <input type="text"  class="form-control mb-4" id="zip"><br>

        <button class="btn btn-info my-4 btn-block" id="saveSurvey">Save</button>


    </div>


</div>
