<div id="surveyMain">
    <div class="container text-center border border-light p-3" id="surveyMainContent" style="margin-top:5%">
        <label>What genre of music do you like primarily listen to?</label>
        <div class="input-group mb-8 justify-content-center">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" value="Rock" id="chk">Rock
                    <br>
                </div>
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" value="Pop" id="chk">Pop<br>
                </div>
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" value="Hip-Hop"
                        id="chk">Hip-Hop<br>
                </div>
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" value="Jazz" id="chk">Jazz<br>
                </div>
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" value="Pop Rock" id="chk">Pop
                    Rock<br>
                </div>
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" value="Grunge"
                        id="chk">Grunge<br>
                </div>
            </div>

        </div>

        <br>

        <label>On rainy days, you like to listen to: </label>
        <select id="rainyDayOptions" class="browser-default custom-select mb-4">
            <option value="" disabled>Choose option</option>
            <option value="slow" selected>Slow, calming</option>
            <option value="happy">Happy, uplifting, exciting</option>
        </select>

        <label>On cloudy days, you like to listen to: </label>
        <select id="cloudyDayOptions" class="browser-default custom-select mb-4">
            <option value="" disabled>Choose option</option>
            <option value="slow" selected>Slow, calming</option>
            <option value="happy">Happy, uplifting, exciting </option>
        </select>

        <label>On sunny days, you like to listen to: </label>
        <select id="sunnyDayOptions" class="browser-default custom-select mb-4">
            <option value="" disabled>Choose option</option>
            <option value="slow" selected>Slow, calming</option>
            <option value="happy">Happy, uplifting, exciting</option>
        </select>

        <button class="btn btn-info my-4 btn-block" type="submit" id="saveSurvey">Save</button>


    </div>