.list-group-item {
  line-height: 2.5;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Varela', sans-serif;
}

#coverDiv, #registerMain {
  height: 100vh;
}

#googleButtonParent{
  text-align: center;
}

.g-signin2{
  display: inline-block;
}
#mainContent, #registerMainContent {
  text-align: center;
  padding-top: 23vh;
}

#weatherIcon, h1, h2{
  color: white;
  text-shadow: 0px 0px 15px #000000bf;
}

#weatherIcon {
  margin-bottom: 10px;
}

h1 {
  font-size: 80px;
  font-weight: bold;
}

#temp {
  margin-bottom: 20px;
}

#playlistButton {
  width: 245px;
}

#navbar {
  background-color: #3f3f3fb8;
  padding-right: 20px;
}

#appName {
  color: white;  
}

#userIcon {
  color: white;
}

.your {
  color: #00c851;
}

#registerForm {
  padding-left: 8rem!important;
  padding-right: 8rem!important;
}

.foreground {
  background-color:#00000085;
}

.modal-body {
  background-color: #282828;
  color: white;
}
.modal-header {
  border-bottom: none;
  /* box-shadow: 2px 0px 5px #000000ba; */
  color:white;
}

.modal-dialog {
  overflow-y: initial !important;
}

.modal-body {
  height: 45vh;
  overflow-y:auto;
}

.rainy-modal, .cloudy-modal, .sunny-modal {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rainy-modal {
  background-image:url('../images/rainy/rainy1.jpg');
}

.cloudy-modal {
  background-image:url('../images/cloudy/cloudy1.jpg');
}

.sunny-modal {
  background-image:url("../images/sunny/sunny4.jpg");
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 9rem auto;
  }
}